.pageHeader {
  text-align: center;
  font-size: x-large;
  font-family: Impact, Charcoal, sans-serif;
  background-color: #66ffb3;
  padding: 8px;
  width: 100%;
}

.pageHeader a {
  text-decoration: none;
  color: black;
}

div.leftNav {
  width: 15%;
  height: 50%;
  float: left;
  text-align: center;
  background: -webkit-linear-gradient(#66ffb3,#b3ffd9,transparent); /* Safari 5.1 to 6.0 */
  background: -o-linear-gradient(#66ffb3,#b3ffd9,transparent); /* Opera 11.1 to 12.0 */
  background: -moz-linear-gradient(#66ffb3,#b3ffd9,transparent); /* Firefox 3.6 to 15 */
  background: linear-gradient(#66ffb3,#b3ffd9,transparent); /* Standard syntax (must be last) */
}

li {
  list-style: none;
}

.leftNav li{
  background-color: #66ccff;
  border: 3px solid #66ccff;
  border-radius: 10px;
  padding: 5px;
  margin: 5px;
  width: 80%;
}

.leftNav a {
  text-decoration: none;
}

div.content {
  float: left;
  margin: 10px;
  width: 45%;
}

.review {
  padding: 8px;
  border: 3px solid white;
  border-radius: 10px;
  margin-bottom: 10px;
  background: rgba(255, 255, 255, 0.85)
}

.review a {
  font-family: Impact, Charcoal, sans-serif;
}

div.pageFooter {
  text-align: center;
  float: initial;
}

.bodyStyle {
  background-image: url("../img/sloth-background.jpg");
  background-repeat: no-repeat;
  background-position: 175% 100%;
  background-attachment: fixed;
}

html, body {
 min-height: 100%;
 padding: 0;
 margin: 0;
 position: absolute;
 top: 0;
 bottom: 0;
 left: 0;
 right: 0;
}
