.pageHeader {
  text-align: center;
  font-size: x-large;
  font-family: Impact, Charcoal, sans-serif;
  background-color: powderblue;
  padding: 8px;
  width: 100%;
}

.pageHeader a {
  text-decoration: none;
  color: black;
}

div.leftNav {
  width: 15%;
  height: 100%;
  float: left;
  background-color: LemonChiffon;
  text-align: center;
}

li {
  list-style: none;
}

.leftNav li{
  background-color: #66ccff;
  border: 3px solid #66ccff;
  border-radius: 10px;
  padding: 5px;
  margin: 5px;
  width: 80%;
}

.leftNav a {
  text-decoration: none;
}

div.content {
  float: left;
  margin: 10px;
  width: 45%;
}

.review {
  padding: 8px;
  border: 3px solid grey;
  border-radius: 10px;
  margin-bottom: 10px;
}

.review a {
  font-family: Impact, Charcoal, sans-serif;
}

div.pageFooter {
  text-align: center;
  float: initial;
}

body {

}

html, body {
 min-height: 100%;
 padding: 0;
 margin: 0;
 position: absolute;
 top: 0;
 bottom: 0;
 left: 0;
 right: 0;
}
